spring:
  profiles:
    active: prod
  application:
    name: portfolio-backend

  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://gondola.proxy.rlwy.net:57915/railway}
    username: ${SPRING_DATASOURCE_USERNAME:postgres}
    password: ${SPRING_DATASOURCE_PASSWORD:WezHOFmEZqZmEyLEIlxYlAcUwixMWgof}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

app:
  jwt:
    secret: ${JWT_SECRET:yWokYxTtcxIbzwHaefQ6YaeGpVtPpV+AqpI0JofhLyA=}
    expiration-seconds: ${JWT_EXPIRATION_SECONDS:3600}

logging:
  level:
    root: INFO
